#name-div {
  display: block;
}

#size-div {
  display: none;
}

#crust-div {
  display: none;
}

#sauce-div {
  display: none;
}

#cheese-div {
  display: none;
}

#toppings-div {
  display: none;
  text-align: left;
  margin-left: 220px;
}

#order-pizza {
  display: none;
}

#intro {
  position: relative;
  top: 15vh;
  text-align: center;
}

#title {
  font-size: 4em;
  font-weight: 100;
}

#wrapper {
  background-image: url(../img/pizza-on-firewood-furnace.jpg);
  background-position: center;
  height: 100vh;
  width: auto;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#salt-bae {
  height: 100px;
  width: auto;
  position: relative;
}

#order-pizza {
  position: relative;
  text-align: center;
  width: 700px;
  top: 40vh;

}

#cart {
  text-align: center;
}

.button {
  background-color: black;
  font-family: Gill Sans MT;
  font-size: 13px;
}

.button:hover {
  color: white;
  box-shadow: 5px 5px 5px rgb(54, 24, 7);
  transition: 0.4s;
}

.btn {
  background-color: black;
}

.question {
  /* color: black; */
  font-size: 15px;
  font-weight: 600;
}

label {
  display: block;
  text-align: left;
  margin-left: 220px;
}

select {
  color: black;
}

input {
  color: black;
}